In [39]:
#we use the autoreload extension
%load_ext autoreload
%autoreload 2
from pybpcs import bpc
# import importlib
import numpy as np
import pandas as pd
d = pb.tennis_agresti()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [41]:
m = bpc(data=d, player0='player0', player1='player1', result_column='y', model_type='bt')

['player0', 'player1']

In [42]:
m._data

        player0      player1  y  id  player0_index  player1_index
0         Seles         Graf  0   1              5              1
1         Seles         Graf  0   2              5              1
2         Seles         Graf  1   3              5              1
3         Seles         Graf  1   4              5              1
4         Seles         Graf  1   5              5              1
5         Seles     Sabatini  0   6              5              3
6         Seles  Navratilova  0   7              5              2
7         Seles  Navratilova  0   8              5              2
8         Seles  Navratilova  0   9              5              2
9         Seles  Navratilova  1  10              5              2
10        Seles  Navratilova  1  11              5              2
11        Seles  Navratilova  1  12              5              2
12        Seles      Sanchez  0  13              5              4
13        Seles      Sanchez  0  14              5              4
14         Graf     Sabatini  0  15              1              3
15         Graf     Sabatini  0  16              1              3
16         Graf     Sabatini  0  17              1              3
17         Graf     Sabatini  0  18              1              3
18         Graf     Sabatini  0  19              1              3
19         Graf     Sabatini  0  20              1              3
20         Graf     Sabatini  1  21              1              3
21         Graf     Sabatini  1  22              1              3
22         Graf     Sabatini  1  23              1              3
23         Graf  Navratilova  0  24              1              2
24         Graf  Navratilova  0  25              1              2
25         Graf  Navratilova  0  26              1              2
26         Graf      Sanchez  0  27              1              4
27         Graf      Sanchez  0  28              1              4
28         Graf      Sanchez  0  29              1              4
29         Graf      Sanchez  0  30              1              4
30         Graf      Sanchez  0  31              1              4
31         Graf      Sanchez  0  32              1              4
32         Graf      Sanchez  0  33              1              4
33         Graf      Sanchez  1  34              1              4
34     Sabatini  Navratilova  0  35              3              2
35     Sabatini  Navratilova  1  36              3              2
36     Sabatini  Navratilova  1  37              3              2
37     Sabatini      Sanchez  0  38              3              4
38     Sabatini      Sanchez  0  39              3              4
39     Sabatini      Sanchez  0  40              3              4
40     Sabatini      Sanchez  1  41              3              4
41     Sabatini      Sanchez  1  42              3              4
42  Navratilova      Sanchez  0  43              2              4
43  Navratilova      Sanchez  0  44              2              4
44  Navratilova      Sanchez  0  45              2              4
45  Navratilova      Sanchez  1  46              2              4

In [32]:
dic = {'a': 1, 'b': 2, 'c':3}
if 'd' in dic.keys():
    print(dic['d'])
else:
    print('no key')

no key

In [2]:
from typing import Union
def func(a: Union[None, str]):
    if a is not None:
        print(a)
    else:
        print('Empty')

func('test')
func(None)

test
Empty

In [13]:
from cmdstanpy import CmdStanModel, cmdstan_path
# see https://discourse.mc-stan.org/t/cmdstan-installation-on-windows/11287/13
# from cmdstanpy.utils import cxx_toolchain_path
# cxx_toolchain_path() 
stan_file = os.path.join(os.getcwd(),'pybpcs','stan', 'test.stan')
stan_file2 = os.path.join(cmdstan_path(), 'examples', 'bernoulli', 'bernoulli.stan')
model = CmdStanModel(stan_file=stan_file)
d_dic = {'y': [10.1 ,10.3, 10.2, 10.3, 10.4, 10.1]}
data_pd = pd.DataFrame(d_dic)
data_pd
print(data_pd.size)
d = {'y': data_pd['y'], 'N': 6}


# data_file = os.path.join(cmdstan_path(), 'examples', 'bernoulli', 'bernoulli.data.json')
# model = CmdStanModel(stan_file=stan_file)
# fit = model.sample(chains=4, data=d)
# fit.summary()

INFO:cmdstanpy:found newer exe file, not recompiling
INFO:cmdstanpy:compiled model file: C:/Users/dmattos/pybpcs-project/pybpcs/stan/test.exe

6

In [23]:
vv = [1,22,33]
for idx,v in enumerate(vv):
    print(v,i)

0 1
1 22
2 33

In [21]:
np.empty(shape=(0,0))

array([], shape=(0, 0), dtype=float64)